OLLAMA_BASE_URL=http://host.docker.internal:11434

NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=change-me
NEO4J_URI=bolt://neo4j:7687

NCBI_TOOL=drug_discovery_agent
NCBI_EMAIL=you@example.com

SEMANTIC_SCHOLAR_API_KEY=

ALLOWED_ORIGINS=http://localhost:4200
