neo4j==6.1.0
langchain-neo4j==0.9.0

langchain==1.2.15
langchain-community==0.4.1
langchain_ollama==1.1.0
langgraph==1.1.6

xmltodict==1.0.4

fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.13.3
pypdf==6.10.2
requests==2.33.1

scikit-learn==1.8.0
joblib==1.5.3
numpy==2.0.2
rdkit==2026.3.2
pandas==3.0.3
lightgbm==4.6.0

flashrank==0.2.10

pytest==8.3.4